

.compare_clg{
    display: grid;
    height: 90vh;
    background-color: $bgcolor3;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: 10% 1fr 1fr 1fr 10%;
    grid-template-areas: ". . . ."
                         ". heading heading ."
                         ". engi scie ."
                         ". arts medi ."
                         ". . . .";

    justify-items: center;
    align-items: center;
    
    a{
        text-decoration: none;
        font-size: 1.8rem;
        color: $main2;
    }
    img{
        height: 3rem;
        display: block;
        text-align: center;
        margin: auto;
    }
    a:hover{
        background-color: white;
        padding: 2rem;
        transform: translateY(-1rem);
        border-radius: 10%;
        box-shadow: .5rem .5rem 1rem black;
    }
}

.compare_clg_heading{
    grid-area: heading;
    color: $main5;
    font-size: 3rem;

    img{
        display: block;
        margin: auto;
        height: 4rem;
    }
}
.compare_clg_engi{
    grid-area: engi;
}

.compare_clg_scie{
    grid-area: scie;
}

.compare_clg_arts{
    grid-area: arts;
}

.compare_clg_medi{
    grid-area: medi;
}


.compare_grid{
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 5% .5fr .5fr 5% 2fr ;
    grid-template-areas: ". . . . ."
                         ". compare_select1 . compare_select2 ."
                         ". . butt . ."
                         ". . . . ."
                         ". compare compare compare .";
}

.compare_select1{
    grid-area: compare_select1;
}

.compare_select2{
    grid-area: compare_select2;
}

.compare_select1 , .compare_select2{
    label{
        font-size: 1.5rem;
        display: block;
        text-align: center;
        margin-bottom: .7rem;
    }
}


.butt{
    grid-area: butt;
    height: 2rem;
    background-color: $main2;
    color: $bgcolor3;
    &:hover{
        transform: translateY(-.5rem);
    }
}

.compare{
    grid-area: compare;
    display: grid;
    width: 95%;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: " compare_grid_1 compare_list compare_grid_2";
}

.compare_list{
    grid-area: compare_list;
}


.compare_grid_1{
    grid-area: compare_grid_1;
}

.compare_grid_2{
    grid-area: compare_grid_2;
}

.compare_grid_1 , .compare_grid_2{
    background-color: $bgcolor3;
    padding: 2rem;

    div{
        div:not(:first-child){
            img{
                height: 1.5rem;
                display: inline-block;
            }
        }
    }
    
}


.compare_list , .cdlsiet_1 , .iitd_1 , .iitb_1 , .amity_1 ,.cdlsiet_2 , .iitd_2 , .iitb_2 , .amity_2 {
    display: none;
    grid-template-rows: 2fr repeat(10,1fr);
    justify-self: center;
    font-size: 1.2rem;
    color: $main2;
    font-weight: 600;
    div{
        justify-self: center;
    }
    img{
        height: 10rem;
    }

}

.clg_pic{
    img{
        height: 10rem;
    }
}

